<h1>Clientes</h1>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
    <div class="collapsible-body">
      <div class='row'>
        <div class="input-field col s8 m4">
          <input placeholder="Cliente" id="cliente" type="text" class="validate" [(ngModel)]="cliente.descrip" >
        </div>
        <div class="input-field col s4 m4">
          <button class="waves-effect waves-light btn" (click)='searchFn()'>Buscar</button>
        </div>
      </div>
    </div>
  </li>
</ul>

<app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
</app-paginador>

<table class="centered highlight">
<thead>
  <tr>
    <th class='col s5 m5'>Cliente</th>
    <th class='col s2 m2'>Tipo</th>
    <th class='col s2 m2'>Opciones</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor='let c of clientes; let i = index' [class.anulado]="c.active === false">
    
    <td><p class="truncate">{{c?.descrip}}</p></td>
    <td><p class="truncate">{{c?.tipoventa?.descrip}}</p></td>
    <td>
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger' href='#' [attr.data-target]='c.id'><i class="material-icons ">more_vert</i></a>
    
    <ul [id]='c.id' class='dropdown-content'>
      <li>
        <a href="/gestion/clientes/{{c.id}}/entregas">
        <i id="entregas" class="material-icons tooltipped" data-position="bottom" data-tooltip="Entregas">description</i>Entregas
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="/gestion/clientes/{{c.id}}/ventas">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Ventas">attach_money</i>Ventas
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="/gestion/clientes/{{c.id}}/recibos">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Recibos">receipt</i>Recibos
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="/gestion/clientes/{{c.id}}/resumen">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Resumen">account_balance_wallet</i>Resumen
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="/gestion/clientes/{{c.id}}/resumendeuda">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Resumen deuda">account_balance_wallet</i>Deuda
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="/gestion/clientes/{{c.id}}/resumenpallet">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Resumen deuda">border_inner</i>Pallet
      </a>
    </li>
    
    <li class="divider" tabindex="-1"></li>
    <li>
      <a href="" *ngIf="c.active" (click)="anularModal(c)">
        <i class="material-icons anular tooltipped modal-trigger" data-position="bottom" data-tooltip="Deshabilitar" data-target="modal1">delete</i>Anular
      </a>
    </li>
    </ul>
    </td>
    
  </tr>
</tbody>
</table>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
  <div class="modal-content">
    <h4>¿Seguro que desea deshabilitar el cliente {{clienteanular?.descrip}}? </h4>
    <h6>Para confirmar, escriba la palabra ANULAR, respetando mayusculas</h6>
    <form (submit)="anular()">
      <div class="input-field col s4">
        <input placeholder="Escribra ANULAR" id="palabraanular" type="text" class="validate" name="palabraanular" [(ngModel)]="palabraanular" autocomplete="off">
      </div>
      <button class="btn waves-effect waves-light red" type="submit" name="action">Deshabilitar
        <i class="material-icons right">delete</i>
      </button>
    </form>
  </div>
</div>