<div class="row">
  <div class="left">
    <h4>Entrega #{{entrega.id?.id}}</h4>
  </div>
  <div class='right'>
    <h4>Fecha: {{ entrega.created_at | date:'dd/MM/yy'}}</h4>
  </div>
</div>
<hr>
<div *ngIf="entrega.active; else anulado">
  <div class='row'>
    <div class='left'>
      <h5>Cliente: {{entrega.cliente?.descrip}}</h5>
    </div>
    
  </div>
  <div class='row'>
    <p>Direcci&oacute;n: {{entrega.direccion}}</p>
  </div>
  <div class='row'>
    <p>Tel&eacute;fono: {{entrega.telefono}}</p>
  </div>
  <div class='row'>
    <p>Observaciones: {{entrega.descripadic}}</p>
  </div>
  <div class='row'>
    <p>Factura/s asociada/s: <span *ngFor='let f of entrega.ventas'> <a href='/gestion/ventas/{{f.id.id}}/{{f.id.sucursal.id}}'>{{f.id.id}}</a> | </span></p>
  </div>
  <div class='row' *ngIf="entrega.turno">
    <p>Turno fábrica: <a href="/gestion/turnos/{{entrega.turno?.id.id}}/{{entrega.turno?.id.sucursal.id}}">{{entrega.turno?.id.id}} <span  *ngIf="entrega.turno?.idasignado">/ ORDEN {{entrega.turno?.idasignado}}</span></a></p>
    <p *ngIf="entrega.turno.fecharetiro">  Fecha retiro: {{entrega.turno.fecharetiro  | date:'dd/MM/yy'}}</p>
  </div>
</div>

<ng-template #anulado>
  <div class='row anulado'>
    <div>
      <h6>ANULADO</h6>
    </div>
  </div>
  <div class='row'>
    <h6>Cliente: {{entrega.cliente?.descrip}}</h6>
  </div>
  <div class='row'>
    <p>Direcci&oacute;n: {{entrega.direccion}}</p>
  </div>
  <div class='row'>
    <p>Tel&eacute;fono: {{entrega.telefono}}</p>
  </div>
  <div class='row'>
    <p>Observaciones: {{entrega.descripadic}}</p>
  </div>
</ng-template>

<table class="centered highlight responsive-table">
  <thead>
    <tr>
      <th class='col s1'>Cantidad</th>
      <th class='col s3'>Producto</th>
      <th class='col s3'>Descrip. Adic.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
    <tr *ngFor='let l of entrega.lineasentregas; index as i'>
      <td>{{l.cantidad}}</td>
      <td>{{l.producto.descrip}}</td>
      <td (click)="editableDescrip()" (blur)="guardarDescrip(l.id.id ,$event.target.innerText)" contenteditable="true">{{l.descripadic}}</td>
    </tr>
  </tbody>
</table>
<div class='row abajo'>
  <div class='left'>
    <h6>{{entrega.sucursal?.descrip}} - {{entrega.vendedor?.nombre}} <span class="apellido">{{entrega.vendedor?.apellido}}</span></h6>
  </div>
</div>
<div (click)="modificarEntrega()"><i class="medium material-icons right">save</i></div>
<app-print></app-print>
