
.ng-select .ng-select-container{
    min-height: 3em !important;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}

a.nostyle:link {
  text-decoration: inherit;
  color: black;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}


a{
  color:black;
}
.row, .input-field{

  margin-bottom: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

hr{
  margin-top: 5%;
  margin-bottom: 5%;
}


.row, .input-field{

  margin-bottom: 0 !important;
}

.anular{
  cursor: pointer;
}

.anulado{
  background-color: #ee6e73;
}

.inputpadding{
  padding-top: 3% !important;
}