<h1>Entregas</h1>

<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
      <div class="collapsible-body">
        <div class='row'>
            <div class="input-field col s12 m2">
              <ng-select #sucursales [items]="sucursales$" bindLabel="descrip" placeholder="Sucursal" name="sucursalselect"
              [(ngModel)]="sucursalselect">
            </ng-select>
              </div>
          <div class="input-field col s12 m2">
            <input placeholder="ID Entrega" id="identrega" type="number" class="validate inputpadding" [(ngModel)]="id">
          </div>
          <div class="input-field col s12 m3">
            <ng-select #clientes [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
            [(ngModel)]="clienteselect">
          </ng-select>
            </div>
          <div class="input-field col s12 m2">
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)='searchFn()'>Buscar 
              <i class="material-icons right">search</i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
  </app-paginador>

<table class="centered highlight">
  <thead>
    <tr>
      <th class='col s2 hide-on-small-only'>Sucursal</th>
      <th class='col s2'>ID</th>
      <th class='col s4'>Fecha</th>
      <th class='col s2'>Cliente</th>
      <th class='col s2'>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let v of entregas$; index as i' [class.anulado]="v.active === false">
      <td class="hide-on-small-only">{{v.id.sucursal.descrip}}</td>
      <td>{{v.id.id}}</td>
      <td>{{v.created_at | date:'dd/MM/yy'}}</td>
      <td>{{v.cliente.descrip}}</td>
      <td>
        <a href='/gestion/entregas/{{v.id.id}}/{{v.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
         </td>
    </tr>
  </tbody>
</table>

<app-loader *ngIf="loading"></app-loader>