<nav class='#ffffff white' *ngIf="!router.url.includes('imprimir')">
  <div class="nav-wrapper row">
    
    <div class="valign-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons grey-text left">menu</i></a>
      <a href="#!" class="brand-logo center"><img class='logo responsive-img' src='assets/img/logo.svg'></a>
   </div>
  </div>
   
</nav>

<!------------------------------------------ MENU MOBILE ---------------------------------------------------------->

<ul class="sidenav" id="mobile-demo">

  <li><a href="" class="no-collapsible"> <i class="material-icons left">home</i>Home</a></li>

  <li><a href="/gestion/productos" class="no-collapsible"><i class="material-icons left">add_shopping_cart</i>Productos</a></li>
  <!-- ENTREGAS COLLAPSIBLE -->
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">assignment</i>Entregas<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/entregas">Crear entrega</a></li>
          <li><a href="/gestion/entregas/listado">Listado</a></li>
        </ul>
      </div>
    </li>
  </ul>
   <!-- VENTAS COLLAPSIBLE -->
   <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">attach_money</i>Ventas<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/ventas">Crear venta</a></li>
          <li><a href="/gestion/ventas/listado">Listado</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <!-- RECIBOS COLLAPSIBLE -->
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">account_balance_wallet</i>Recibos<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/recibos">Crear recibo</a></li>
          <li><a href="/gestion/recibos/listado">Listado</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <!-- CLIENTES COLLAPSIBLE -->
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">person</i>Clientes<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/clientes">Crear cliente</a></li>
          <li><a href="/gestion/clientes/listado">Listado</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <!-- TURNOS COLLAPSIBLE -->
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">today</i>Turnos<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/turnos">Listado</a></li>
          <li><a href="/gestion/turnoscrear">Crear</a></li>
          <li><a href="/gestion/turnosporlote">Crear por lote</a></li>
          <li><a href="/gestion/chofercrear">Crear chofer</a></li>
          <li><a href="/gestion/chofereditar">Editar chofer</a></li>
        </ul>
      </div>
    </li>
  </ul>
  
  <!-- PALLETS COLLAPSIBLE -->
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header"><i class="material-icons left">border_inner</i>Pallets<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href="/gestion/recibopallet/crear">Crear recibo</a></li>
          <li><a href="gestion/deudapallet/crear">Crear deuda</a></li>
        </ul>
      </div>
    </li>
  </ul>
  
  <li><a href="/login" class="no-collapsible"> Cerrar sesi&oacute;n <i class="material-icons right">close</i></a></li>
</ul>


