nav, .navbar-material, .nav-wrapper, .brand-logo {
    height: 120px !important;
}
.sidenav-trigger{
    display: block !important;
}
.nav-wrapper{
    display:flex;
    
    justify-content: space-between;
}
nav ul li a{
    color: black !important;
}

#contmenu, #menuuser{
    align-self: flex-end;
}

#menuuser{
    padding-right: 15px;
    padding-bottom: 15px;
}

.brand-logo > img{
    height: 120px !important;
    display: block;
}


.no-collapsible{
    padding: 0 16px !important;
}
