<h1>Tipos de productos</h1>
 

<button data-target="modal1" class="btn modal-trigger right">Crear<i class="large material-icons">add</i></button>
 <table>
     <thead>
         <th>ID</th>
         <th>Descrip.</th>
     </thead>
     <tbody>
          <tr *ngFor="let tipo of tipos">
              <td>{{tipo.id}}</td>
              <td>{{tipo.descrip}}</td> 
         </tr>
     </tbody>
 </table>
