<h1>Resumen deuda</h1>

<ul class="collapsible" (click)="getImporteDeuda()">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Deuda aproximada</div>
    <div class="collapsible-body">
      <table class="centered highlight responsive-table">
        <tbody>
          <span id="importedeuda">${{importedeuda}}</span>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Ventas (Pendiente de cobro)<span class="badge">{{sizeventas}}</span></div>
    <div class="collapsible-body">
      <table class="centered highlight responsive-table">
        <thead>
          <tr>
            <th class='col s2'>Sucursal</th>
            <th class='col s2'>ID</th>
            <th class='col s4'>Fecha</th>
            <th class='col s2'>Cliente</th>
            <th class='col s2'>Total</th>
            <th class='col s2'>Saldo pago</th>
            <th class='col s2'>Pago</th>
            <th class='col s2'>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let v of ventas$; index as i' [class.anulado]="v.active === false">
            <td>{{v.id.sucursal.descrip}}</td>
            <td>{{v.id.id}}</td>
            <td>{{v.created_at | date:'dd/MM/yy'}}</td>
            <td>{{v.cliente.descrip}}</td>
            <td>${{v.total | number : '1.2-2'}} <span *ngIf="v.active ===false">(ANULADO)</span></td>
            <td><span *ngIf="v.active !=false"><span
                  *ngIf="v.importerestante < v.total &&v.importerestante != 0.0">A/C</span>
                ${{v.total - v.importerestante | number : '1.2-2'}}</span></td>
            <td><i class="material-icons" *ngIf="v.importerestante == 0.0 && v.active"> check</i></td>
            <td>
              <a href='/gestion/ventas/{{v.id.id}}/{{v.id.sucursal.id                                                                                                                                                                                                                                                                                                                                                                       }}'><i class="material-icons">zoom_in</i></a>
              <a href="#modal1" class='modal-trigger' (click)='asignarVenta(v)'
                *ngIf="v.active !=false && v.importerestante > 0.0"><i class="material-icons"
                  *ngIf="cantrecibos == true">attach_money</i></a>
              <i class="material-icons anular" (click)='anularVenta(v.id.id, v.id.sucursal.id)'
                *ngIf="v.active !=false && v.total == v.importerestante">delete</i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </li>
</ul>


<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Entregas (sin monetizar)<span class="badge">{{sizeentregas}}</span></div>
    <div class="collapsible-body">
      <table class="centered highlight responsive-table">
        <thead>
          <tr>
            <th class='col s2'>Sucursal</th>
            <th class='col s2'>ID</th>
            <th class='col s4'>Fecha</th>
            <th class='col s2'>Cliente</th>
            <th class='col s2'>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let v of entregas$; index as i' [class.anulado]="v.active === false">
            <td>{{v.id.sucursal.descrip}}</td>
            <td>{{v.id.id}}</td>
            <td>{{v.created_at | date:'dd/MM/yy'}}</td>
            <td>{{v.cliente.descrip}}</td>
            <td>
              <a href='/gestion/entregas/{{v.id.id}}/{{v.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
              <i class="material-icons anular" (click)='anularEntrega(v.id.id, v.id.sucursal.id)'
                *ngIf="v.active !=false">delete</i>
              <a href='/gestion/entregas/{{v.id.id}}/{{v.id.sucursal.id}}/vender' *ngIf="v.ventas?.length == 0"><i
                  class="material-icons monetizar" *ngIf="v.active !=false">attach_money</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Turno (sin entrega asig.)<span class="badge">{{sizeturnos}}</span></div>
    <div class="collapsible-body">
      <table>
        <tr>
          <th>Id</th>
          <th>Id asignado</th>
          <th>Fecha Creada</th>
          <th>Fecha Retiro</th>
          <th>F&aacute;brica</th>
          <th>Destino</th>
          <th>Entregado</th>
          <th>Remito Recibido</th>
          <th>Opciones</th>
        </tr>
        <tr *ngFor='let t of turnos$'>
          <td>{{t.id.id}}</td>
          <td>{{t.idasignado}}</td>
          <td>{{t.created_at | date:'dd/MM/yy'}}</td>
          <td>{{t.fecharetiro | date:'dd/MM/yy'}}</td>
          <td>{{t.fabrica?.descrip}}</td>
          <td>{{t.destino?.descrip}}</td>
          <td><i class='material-icons' *ngIf='t.entregado'>check</i></td>
          <td><i class='material-icons' *ngIf='t.papelrecibido'>check</i></td>
          <td>
            <a href='/gestion/turnos/{{t.id.id}}/{{t.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
            <a href='/gestion/turnos/{{t.id.id}}/{{t.id.sucursal.id}}/editar'><i class="material-icons">edit</i></a>
            <i class='material-icons' (click)='generarEntregaTurno(t)'>unarchive</i>
          </td>
        </tr>
      </table>
    </div>
  </li>
</ul>

<app-reciboventa [recibos]="recibosconsaldo$" [ventaseleccionada]="ventaseleccionada">
</app-reciboventa>