<h1>Editar chofer</h1>
<div class="row">
    <div class="input-field col s3">
        <ng-select #select2 [items]="choferes$" bindLabel="nombreapellido" placeholder="Chofer" name="chofer"
            [(ngModel)]="chofer">
        </ng-select>
    </div>
    <div class="input-field col s3">
        <input type="text" placeholder="Patente chasis" [(ngModel)]="camion.patentechasis">
    </div>

    <div class="input-field col s3">
        <input type="text" placeholder="Patente enganche" [(ngModel)]="camion.patenteenganche">
    </div>
    <div class="input-field col s3">
        <div><a class="waves-effect waves-light btn-large" (click)="agregar()" >Agregar<i
            class="material-icons right">send</i></a></div>
    </div>

</div>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Pat. Chasis</th>
            <th>Pat. Enganche</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of chofer?.camiones">
            <td>{{c.patentechasis}}</td>
            <td>{{c.patenteenganche}}</td>
            <td><i class="material-icons anular" (click)='anular(c.id)'>delete</i></td>
        </tr>
    </tbody>
</table>