<h1>Crear chofer</h1>
<div class="row">
    <form class="col s12" (submit)="crearChofer()" ngNativeValidate #MySelectForm="ngForm">
      <div class="row">
        <div class="input-field col m4 s12">
          <input placeholder="Nombre" id="nombre" [(ngModel)]="chofer.nombre" name="nombre" type="text" class="validate" required>
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col m4 s12">
            <input placeholder="Apellido" id="apellido" [(ngModel)]="chofer.apellido" name="apellido" type="text" class="validate" required>
            <label for="apellido">Apellido</label>
        </div>
        <div class="input-field col m2 s12">
            <input placeholder="Cuil / Cuit" id="cuil" [(ngModel)]="chofer.cuil" name="cuil" type="text" class="validate" required>
            <label for="cuil">Cuil</label>
        </div>
        <div class="input-field col m2 s12">
            <input placeholder="DNI" id="dni" [(ngModel)]="chofer.dni" name="dni" type="text" class="validate" required>
            <label for="dni">DNI</label>
        </div>
        <div class="row">
            <div class="col m4 s12 right">
                <button [disabled]="!chofer.nombre || !chofer.apellido || !chofer.cuil" class="btn waves-effect waves-light right" type="submit" name="action">Crear
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
    </form>
</div>