input{
    margin-top: 0.4em !important;
  }
  
  .dropdown-content{
  width: max-content !important;
  height:auto !important;
  }
  
  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  
  a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  
  a{
    color: black;
  }
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  .row, .input-field{
  
      margin-bottom: 0 !important;
    }
  
  
  table{
    margin-bottom: 20%;
  }
  
  .btncrear{

    margin-bottom: 5% !important;
  }