<h1>Crear turno</h1>

<form (submit)='agregarLinea()'>
    <div class='row'>
        <div class="input-field col s3">
            <ng-select #select [items]="tipoproductos$" (change)="cambiarFabricas()" bindLabel="descrip"
                placeholder="Tipo producto" name="tipo" [(ngModel)]="turno.tipoproducto">
            </ng-select>
        </div>
        <div class="input-field col s3">
            <ng-select #select [items]="tipotransporte$" bindLabel="descrip" placeholder="Tipo transp." name="tipotrans"
                [(ngModel)]="turno.tipotransporte">
            </ng-select>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s3">
            <ng-select #select [items]="fabricasfilter" bindLabel="descrip" placeholder="Fabrica" name="fabrica"
                [(ngModel)]="turno.fabrica">
            </ng-select>
        </div>
        <div class="input-field col s3">
            <input type="number" name="idasignado" [(ngModel)]="turno.idasignado" placeholder='ID asignado x fabrica' />
        </div>
        <div class="input-field col s3">
            <input type="date" name="fecharetiro" [ngModel]="turno.fecharetiro | date:'yyyy-MM-dd'"
                (ngModelChange)="turno.fecharetiro = $event" placeholder='Fecha retiro' />
        </div>
        <div class="input-field col s3">
            <ng-select #select2 [items]="choferes$" bindLabel="nombreapellido" placeholder="Chofer" name="chofer"
                [(ngModel)]="turno.chofer">
            </ng-select>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s4">
            <input type="number" name="cantidad" id="cant" [(ngModel)]="turnoproducto.cantidad"
                placeholder="Cantidad" />
        </div>
        <div class="input-field col s4">
            <ng-select #select [items]="turno.fabrica.productos" bindLabel="descrip" placeholder="Producto"
                name="producto" [(ngModel)]="turnoproducto.producto">
            </ng-select>
        </div>
        <div class="input-field col s4">
            <button class="waves-effect waves-light btn " type="submit" name="action"><i
                    class="material-icons">add</i></button>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12">
            <ng-select #select [items]="destinos" bindLabel="descrip" placeholder="Destino" name="destino"
                [(ngModel)]="turno.destino">
            </ng-select>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s12">
            <input type="text" name="descripadic" [(ngModel)]="turno.descripadic" placeholder="Descripcion adicional" />
        </div>
    </div>

</form>

<table>
    <thead>
        <th>Cantidad</th>
        <th>Producto</th>
        <th>Opciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let prod of turno.turnoproductos; index as i">
            <td>{{prod?.cantidad}}</td>
            <td>{{prod?.producto?.descrip}}</td>
            <td><a [routerLink]="[]" (click)='eliminarFila(i)' class='black-text'><i
                        class="material-icons">clear</i></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row btncrear">
    <div class="left">
        <div class="row">
            <label>
                <input type="checkbox" [(ngModel)]="turno.entregado" />
                <span>Entregado</span>
            </label>
        </div>

        <div class="row">
            <label>
                <input type="checkbox" [(ngModel)]="turno.papelrecibido" />
                <span>Recibido</span>
            </label>
        </div>

    </div>
    <div class="right">
        <a class="waves-effect waves-light btn-large right" id="crear" (click)='guardar()'>Crear<i
                class="material-icons right">send</i></a>
    </div>
</div>