<h1>Ventas</h1>
<div class='row'>
  <h5 class='right'>Fecha: {{ date | date:'dd-MM-yy'}}</h5>
</div>
<form (submit)='agregarLinea()'>
  <div class='row'>
    <div class="input-field col s12 m8">
      <ng-select #cliente [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
        [(ngModel)]="venta.cliente"  [disabled]="entrega?.cliente">
      </ng-select>
    </div>
    <div class="input-field col s12 m4">
      <ng-select #select [items]="vendedores$" bindLabel="nombreapellido" name="vendedor" [(ngModel)]="venta.vendedor">
      </ng-select>
    </div>
  </div>
  <div class='row center-align'>
    <div class='input-field col s12 m8'>
      <input placeholder='Direccion' id="direccion" type="text" class="validate" [(ngModel)]='venta.direccion'
        name='direccion'>
    </div>
    <div class='input-field col s12 m4'>
      <input placeholder='Tel&eacute;fono' id="telefono" type="text" class="validate" [(ngModel)]='venta.telefono'
        name='telefono'>
    </div>
  </div>
  <hr>
  <div class='row center-align'>
    <div class='row center-align' id='cargaproducto'>
      <div class="input-field col m2 s12">
        <input type="number" id='cant' placeholder="Cantidad" [(ngModel)]='lineaventa.cantidad' name='cantidad'>
      </div>
      <div class="input-field col m3 s12">
        <ng-select #select [items]="productos$" bindLabel="descrip" name="producto" [(ngModel)]="lineaventa.producto"
          (change)='actualizaPrecio()'>
        </ng-select>
      </div>
      <div class="input-field col m2 s12">
        <i class="material-icons prefix">attach_money</i>
        <input type='number' value="{{lineaventa.precio}}" placeholder="Precio ($)" [(ngModel)]='lineaventa.precio'
          name='precio'>
      </div>
      <div class='input-field col m3 s12'>
        <input placeholder='Descrip. Adic.' id="descripadic" type="text" 
          [(ngModel)]='lineaventa.descripadic' name='descripadic'>
      </div>

      <div class="input-field col m2 s12">
        <button class="waves-effect waves-light btn" type="submit" name="action"><i
            class="material-icons">add</i></button>
      </div>
    </div>
  </div>
</form>
<div>
  <table class="centered highlight">
    <thead>
      <tr>
        <th class='col s1'>Cant.</th>
        <th class='col s3'>Producto</th>
        <th class='col s2'>Precio</th>
        <th class='col s2'>Subtotal</th>
        <th class='col s3'>Descrip. Adic.</th>
        <th class='col s1'>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <tr *ngFor='let l of venta.lineasventas; index as i'>
        <td><input type="number" [(ngModel)]="l.cantidad" (change)="actualizaTotal()"></td>
        <td>{{l.producto.descrip}}</td>
        <td><input type="number" [(ngModel)]="l.precio" (change)="actualizaTotal()"></td>
        <td>${{l.cantidad * l.precio | number : '1.2-2'}}</td>
        <td><input type="text" [(ngModel)]="l.descripadic" (change)="actualizaTotal()"></td>
        <td><a [routerLink]="[]" (click)='eliminarFila(i, l.cantidad * l.precio)' class='black-text'><i
              class="material-icons">clear</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row btnvender">
  <div>
    <h4 class="left" id="total">Total: ${{total | number : '1.2-2'}}</h4>
  </div>

  <div id="vender"><a class="waves-effect waves-light btn-large right"  (click)='calcularPallets()'>Vender<i
        class="material-icons right">send</i></a></div>
</div>

<app-loader *ngIf="loading"></app-loader>

  <!-- Modal Structure -->
  <div id="modalpallet" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Deuda de pallet</h4>
      <div class="row">
        <span>Se crear&aacute; la siguiente cantidad de pallets</span>
        <input type="number" [(ngModel)]="venta.cantidadpallets">
       </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-large" (click)='guardarVenta()'>Continuar</a>
    </div>
  </div>