
.ng-select .ng-select-container{
    min-height: 3em !important;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}


.row, .input-field{

  margin-bottom: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

hr{
  margin-top: 5%;
  margin-bottom: 5%;
}

#cargaproducto{

  padding-left: 5% !important;
  border: 1px solid grey !important;
  margin-bottom: 5% !important;
}

table{
  margin-bottom: 5%;
}