<h1>Recibos</h1>

<form>
  <div class="row">
    <div class="input-field col s12 m6">
      <ng-select #cliente [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
        [(ngModel)]="recibo.cliente">
      </ng-select>
    </div>
    <div class="input-field col s12 m6">
      <input type="number" [(ngModel)]="recibo.importe" placeholder="Importe" name="importe">
    </div>
  </div>
  <div class="row">
    <input type="text" [(ngModel)]="recibo.descripadic" placeholder="Descripci&oacute;n adicional" name="descripadic">
  </div>
</form>

<div class="btncrear"><a class="waves-effect waves-light btn-large" (click)='guardarRecibo()'>Crear<i
  class="material-icons right ">send</i></a></div>

  
<app-loader *ngIf="loading"></app-loader>
