<h1>Crear deuda pallet</h1>

<form>
  <div class="row">
    <div class="input-field col s6">
      <ng-select #cliente [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
        [(ngModel)]="deudapallet.cliente">
      </ng-select>
    </div>
    <div class="input-field col s2">
      <input type="number" [(ngModel)]="deudapallet.cantidad" placeholder="Cantidad" name="cantidad">
    </div>
  </div>
  <div class="row">
    <input type="text" [(ngModel)]="deudapallet.descripadic" placeholder="Descripci&oacute;n adicional" name="descripadic">
  </div>
</form>

<div class="btncrear right"><a class="waves-effect waves-light btn-large" (click)='guardarDeuda()'>Crear<i
  class="material-icons right ">send</i></a></div>

