input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.ng-select .ng-select-container{
    min-height: 3em !important;
}


.row, .input-field{

    margin-bottom: 0 !important;
  }

  
.dropdown-content{
    width: max-content !important;
    height:auto !important;
  }
  