
head, nav, app-header{
    display:none !important;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

th, td, tr{
    border: none !important;
}

.cabecera{
    margin-top: 2%;
    margin-left: 11%;
}

.esquinaderecha{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
