<div class='cabecera '>
<div class='row'>
  <div class="col l4">
    Orden: {{turno.id}}
  </div>
  <div class='col l4'>
    Fabrica: {{turno.fabrica.descrip}}
  </div>
  <div class='col l4'>
    Fecha: {{turno.fecharetiro | date:'dd/MM/yy'}}
  </div>
</div>
<div class='row '>
  <div class='col l4'>
    Chofer: {{turno.chofer.nombre}} {{turno.chofer.apellido}}
  </div>
  <div class='col l4'>
    DNI: {{turno.chofer.dni}}
  </div>
  <div class='col l4'>

  </div>
</div>
</div>

<div>
    <table class="centered highlight responsive-table">
      <thead>
        <tr>
          <th class='col s2'>Cant.</th>
          <th class='col s4'>Producto</th>
        </tr>
      </thead>
      <tr>
      </tr>
      <tr *ngFor='let l of turno.turnoproductos'>
        <td>{{l.cantidad}}</td>
        <td>{{l.producto.descrip}}</td>
      </tr>
    </table>
</div>
<div class="row esquinaderecha">
    <a class="waves-effect waves-light btn-large right" id="print" (click)='print()'>Imprimir<i class="material-icons right">print</i></a>
  </div>