<h1>Crear cliente</h1> 

<form (submit)="submit()" #MySelectForm="ngForm" ngNativeValidate>
  <input type="text" name="descrip" [(ngModel)]="cliente.descrip" placeholder="Razon social">
  <div class="input-field"> 
    <ng-select
    #select
    [items]="tipoventas$"
    bindLabel="descrip"
    placeholder="Tipo de venta"
    name="tipoventa"
    [(ngModel)]="cliente.tipoventa"
     class="validate required" 
     required>
  </ng-select>
  <div *ngIf="!cliente.tipoventa" class="invalid-feedback">
    Tipo de venta es obligatorio
</div>
</div>
<button id="btncrear"  [disabled]="!cliente.descrip || !cliente.tipoventa" type="submit" class="btn waves-effect waves-light right">Crear</button>
</form>