<h1>Recibos</h1>

<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
      <div class="collapsible-body">
        <div class='row'>
            <div class="input-field col s2">
              <ng-select #sucursales [items]="sucursales$" bindLabel="descrip" placeholder="Sucursal" name="sucursalselect"
              [(ngModel)]="sucursalselect">
            </ng-select>
              </div>
          <div class="input-field col s2">
            <input placeholder="ID Recibo" id="idrecibo" type="number" class="validate" [(ngModel)]="id">
          </div>
          <div class="input-field col s3">
            <ng-select #clientes [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
            [(ngModel)]="clienteselect">
          </ng-select>
            </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)='searchFn()'>Buscar 
              <i class="material-icons right">search</i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
  </app-paginador>

<table class="centered highlight">
  <thead>
    <tr>
      <th class='col m2 s2 hide-on-med-and-down'>Sucursal</th>
      <th class='col m1 s2'>ID</th>
      <th class='col m1 s4'>Fecha</th>
      <th class='col m2 s2'>Cliente</th>
      <th class='col m2 s2'>Importe</th>
      <th class='col m2 s2 hide-on-med-and-down'>Descrip. Adic.</th>
      <th class='col m2 s2'>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let r of recibos$; index as i' [class.anulado]="r.active === false">
      <td class="hide-on-med-and-down">{{r.id.sucursal.descrip}}</td>
      <td>{{r.id.id}}</td>
      <td>{{r.created_at | date:'dd/MM/yy'}}</td>
      <td>{{r.cliente.descrip}}</td>
      <td>${{r.importe}} <span *ngIf="r.active ===false">(ANULADO)</span></td>
      <td class="truncate hide-on-med-and-down"><div>{{r.descripadic}}</div></td>
      <td>
        <a href='/gestion/recibos/{{r.id.id}}/{{r.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
        <i class="material-icons anular" (click)='anular(r.id.id, r.id.sucursal.id)' *ngIf="r.active !=false">delete</i>
      </td>
    </tr>
  </tbody>
</table>