<app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
</app-paginador>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col m1">Id</th>
      <th class="col m2">Fecha</th>
      <th class="col m3">Oper. Vinc</th>
      <th class="col m1">Entregas</th>
      <th class="col m1">Devoluciones</th>
      <th class="col m4">Descrip. Adic</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of operaciones">
      <td>{{o.id}}</td>
      <td>{{o.created_at | date:'dd/MM/yy'}}</td>
      <ng-containter *ngIf="o.venta != null; then ventatemp; else turno"></ng-containter>
      <ng-template #ventatemp>
        <td *ngIf="o.venta?.entregas[0]?.turno?.idasignado != null"><a href='/gestion/ventas/{{o.venta?.id?.id}}/{{o.venta?.id?.sucursal?.id}}'>Venta #{{o.venta?.id?.id}} | Turno #{{o.venta?.entregas[0]?.turno?.idasignado}}</a></td>
        <td *ngIf="o.venta?.entregas[0]?.turno?.idasignado == null"><a href='/gestion/ventas/{{o.venta?.id?.id}}/{{o.venta?.id?.sucursal?.id}}'>Venta #{{o.venta?.id?.id}}</a></td>
      </ng-template>
      
      <ng-template #turno>
        <td  *ngIf="o.entrega?.turno == null && o.entrega"><a href='/gestion/entregas/{{o.entrega?.id?.id}}/{{o.entrega?.id?.sucursal?.id}}'>Entrega #{{o.entrega?.id?.id}}</a></td>
        <td *ngIf="o.entrega != null && o.entrega?.turno != null"><a href='/gestion/entregas/{{o.entrega?.id?.id}}/{{o.entrega?.id?.sucursal?.id}}'>Entrega #{{o.entrega?.id?.id}} | Turno #{{o.entrega?.turno?.idasignado}}</a></td>
        <td *ngIf="o.entrega?.turno == null && o.entrega == null"></td>
      </ng-template>

      <ng-container *ngIf="isInstanceOfDeuda(o); then deuda; else recibo">
      </ng-container>
      <ng-template #deuda>
        <td>{{o.cantidad}}</td>
        <td></td>
      </ng-template>
      <ng-template #recibo>
        <td></td>
        <td>{{o.cantidad}}</td>
      </ng-template>
      <td>{{o.descripadic}}</td>
    </tr>
    <tr *ngIf="page == 0">
      <td></td>
      <td></td>
      <td>Diferencia</td>
      <td>{{totalDeuda}}</td>
      <td>{{totalRecibo}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
