<h1>Ventas</h1>

<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
    <div class="collapsible-body">
      <div class='row'>
        <div class="input-field col s2">
          <ng-select #sucursales [items]="sucursales$" bindLabel="descrip" placeholder="Sucursal" name="sucursalselect"
            [(ngModel)]="sucursalselect">
          </ng-select>
        </div>
        <div class="input-field col s2">
          <input placeholder="ID Venta" id="idventa" type="number" class="validate" [(ngModel)]="id">
        </div>
        <div class="input-field col s3">
          <ng-select #clientes [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
            [(ngModel)]="clienteselect">
          </ng-select>
        </div>
        <div class="input-field col s2">
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='searchFn()'>Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>

<app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
</app-paginador>

<table class="centered highlight">
  <thead>
    <tr>
      <th class='col s2 hide-on-med-and-down'>Sucursal</th>
      <th class='col s2'>ID</th>
      <th class='col s4'>Fecha</th>
      <th class='col s2'>Cliente</th>
      <th class='col s2'>Total</th>
      <th class='col s2'>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let v of ventas$; index as i' [class.anulado]="v.active === false">
      <td class="hide-on-med-and-down">{{v.id.sucursal.descrip}}</td>
      <td>{{v.id.id}}</td>
      <td>{{v.created_at | date:'dd/MM/yy'}}</td>
      <td class="truncate">{{v.cliente.descrip}}</td>
      <td>${{v.total}} <span *ngIf="v.active ===false">(ANULADO)</span></td>
      <td>
        <a href='/gestion/ventas/{{v.id.id}}/{{v.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
        <a href="#modal1" class='modal-trigger' (click)='asignarVenta(v)' *ngIf="v.active !=false && v.importerestante > 0.0"><i class="material-icons" *ngIf="cantrecibos == true">attach_money</i></a>
      </td>
    </tr>
  </tbody>
</table>

<app-reciboventa [recibos]="recibosconsaldo$" [ventaseleccionada]="ventaseleccionada">
</app-reciboventa>

<app-loader *ngIf="loading"></app-loader>
