@import 'https://fonts.googleapis.com/icon?family=Material+Icons';




 @media print {
    /*app-root > * { display: none; }*/
    app-root app-print { display: none; }
    app-header { display: none; }
	app-footer {display: none;}

	@page { 

		size: auto; 
		margin: 15mm 15mm 10mm 10mm !important;
		
	}

	* {
		padding: 0;
		margin: 0;
		font-family: serif !important;
		font-size: 12pt !important;
		box-shadow: none !important;
		color: black !important;
	}

	h4{
		font-size: 16pt !important;
	}
	td{
		padding-top: 0!important;
		padding-bottom: 0 !important;
	}

	.row{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin:0 !important;
	}

	i{
		display:none !important;
	}

	p{
		margin:0 !important;
		padding:0 !important;
	}



  }

  .material-icons{
    font-family: 'Material Icons' !important;
}

#icono{
	position: absolute;
	bottom: 2em;
	right: 2em;
	cursor: pointer;
}

.apellido{
	display:none;
}