<div class='row anulado' *ngIf="turno.active == false">
  <div>
    <h6>ANULADO</h6>
  </div>
</div>
<div class='row'>
    <div class=" col s3 center-align">
      <h6>F&aacute;brica</h6>
      <p>{{turno.fabrica?.descrip}}</p>
    </div>
    <div class="col s3 center-align" >
      <h6>Turno Asignado</h6>
      <p>{{turno.idasignado}}</p>
    </div>
    <div class="col s3 center-align">
      <h6>Fecha Retiro</h6>
      <p>{{turno.fecharetiro | date:"dd/MM/yyyy"}}</p>
    </div>
    <div class="col s3 center-align">
      <h6>Chofer</h6>
      <p>{{turno.chofer?.nombreapellido}}</p>
    </div>
  </div>
  <div class='row'>
    <div class='col s3 center-align'>
      <h6>Destino</h6>
      <p>{{turno.destino?.descrip}}</p>
    </div>
    <div class='col s3 center-align'>
      <h6>Tipo transporte</h6>
      <p>{{turno.tipotransporte?.descrip}}</p>
    </div>
    <div class='col s3 center-align'>
      <h6>Empresa</h6>
      <p>{{turno.empresa?.razonsocial}}</p>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 center-align'>
      <h6>Descripcion Adicional</h6>
      <p>{{turno.descripadic}}</p>
    </div>
  </div>

<table class="centered highlight responsive-table">
  <thead>
    <tr>
      <th class='col s2'>Cant.</th>
      <th class='col s4'>Producto</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  </tr>
  <tr *ngFor='let l of turno.turnoproductos; index as i'>
    <td>{{l.cantidad}}</td>
    <td>{{l.producto?.descrip}}</td>
  </tr>
</tbody>
</table>
<div class="row" *ngIf="turno.entrega"><a href="/gestion/entregas/{{turno.entrega?.id?.id}}/{{turno.entrega?.id?.sucursal?.id}}">Entrega # {{turno.entrega?.id?.id}}</a></div>


<div class="fixed-action-btn">
  <a href="https://wa.me/?text=Empresa: {{turno.empresa?.razonsocial}} %0AFabrica: {{turno.fabrica?.descrip}}%0AID: {{turno.id?.id}}%0AID Fabrica: {{turno.idasignado}}%0AFecha retiro: {{turno.fecharetiro | date:'dd/MM/yyyy'}}%0AChofer: {{turno.chofer?.nombreapellido}}%0ADestino: {{turno.destino?.descrip}}%0AMateriales:%0A{{materiales}}"  class="btn-floating btn-large red">
    <i class="large material-icons">share</i>
  </a>
</div>
      