<ul class="pagination" *ngIf="numItems">
    <li *ngIf="page > 0" (click)="anterior()"><i class="material-icons">chevron_left</i></li>
    <li class="waves-effect" *ngFor="let n of Arr(totalPages).fill(1); let i = index" (click)="irAPagina(i)" [ngClass]="{'active': page==i}">
        <a *ngIf="i <= page + 3 && i >= page && i < totalPages -3">{{i}}</a>
        <a *ngIf="i == page + 4">...</a>
        <a *ngIf="i >= totalPages - 3">{{i}}</a>
    </li>
    <li *ngIf="page + 1 != totalPages" class="waves-effect" (click)="siguiente()"><i class="material-icons">chevron_right</i></li>
</ul>