
@media print {
    
    @page { 

        size: A4 portrait; 
        margin: 0mm;
        
    }

    *{
        margin: 0 !important;
        padding: 0 !important;
        font-family: serif !important;
	    box-shadow: none !important;
    }

    .row > p, h4, h5{
        margin: 0 !important;
        padding: 0 !important;
    }
    hr{
        margin-top: 2%;
        margin-bottom: 2%;
        border-bottom: 1px solid black !important;
    }
    
    table td{
        padding-bottom: 4px !important;
        padding-top: 4px !important;
    }
    
    table td, table tr, table th{
        border: 1px solid black !important;
    }
    
    app-root > * { display: none; }
    app-header { display: none; }
    app-footer {display: none;}
    app-print {display: none;}
  }

  ng-select.required.ng-invalid.ng-touched .ng-select-container{
 
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
    ng-select.required.ng-invalid.ng-untouched .ng-select-container {

    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.container{ 
    max-width:90% !important;
    width: 90% !important;
}