<h1>Resumen</h1>

<app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
</app-paginador>

<ul *ngFor="let r of recibos; let i = index" class="collection">
  <li class="collection-item row bold" [class.anulado]="r.active === false">
        <div class="col s3 truncate"><a href='/gestion/recibos/{{r?.id.id}}/{{r?.id.sucursal.id}}'>Recibo #{{r?.id.id}} - {{r?.descripadic}}</a></div>
        <div class="col s2">Fecha: {{r?.created_at | date:'dd/MM/yy'}}</div>
        <div class="col s3">Importe: ${{r?.importe | number : '1.2-2'}}</div>
        <div class="col s3">Saldo restante: ${{r?.importeRestante | number : '1.2-2'}} <span *ngIf="r?.active ===false"> - (ANULADO)</span></div>
        <div class="col s1">Opc.</div>
    </li>
  <span *ngFor="let rv of recibosventas$" >
      <li class="collection-item row" *ngIf="r.id.id == rv.recibo.id.id">
        <div class="col s3"> <a href='/gestion/ventas/{{rv.venta.id.id}}/{{rv.venta.id.sucursal.id}}'>Venta #{{rv.venta.id.id}}</a></div>
        <div class="col s2">Fecha: {{rv.venta.created_at | date:'dd/MM/yy'}}</div>
        <div class="col s3">Total: ${{rv.venta.total | number : '1.2-2'}}</div>
        <div class="col s3">Imp.Pago: ${{rv.importedesc | number : '1.2-2'}}</div>
        <div class="col s1"><a [routerLink]="[]" (click)='desaplicar(rv)' class='black-text'><i
          class="material-icons">clear</i></a></div>
      </li>
  </span>
</ul> 