<form (submit)='agregarLinea()'>
  <div class='row'>
    <div class="input-field col s12 m3">
      <ng-select #select [items]="fabricas$" bindLabel="descrip" placeholder="Fabrica" name="fabrica"
        [(ngModel)]="turno.fabrica">
      </ng-select>
    </div>
    <div class="input-field col s6 m3">
      <input type="number" name="idasignado" [(ngModel)]="turno.idasignado" placeholder='ID asignado x fabrica' />
    </div>
    <div class="input-field col s6 m3">
      <input type="date" name="fecharetiro" [ngModel]="turno.fecharetiro | date:'yyyy-MM-dd'"
        (ngModelChange)="turno.fecharetiro = $event" placeholder='Fecha retiro' />
    </div>
    <div class="input-field col s12 m3">
      <ng-select #select2 [items]="choferes$" bindLabel="nombreapellido" placeholder="Chofer" name="chofer"
        [(ngModel)]="turno.chofer">
      </ng-select>
    </div>
  </div>
  <div class='row'>
    <div class="input-field col s4 m4">
      <input type="number" name="cantidad" id="cant" [(ngModel)]="turnoproducto.cantidad" placeholder="Cantidad" />
    </div>
    <div class="input-field col s4 m4">
      <ng-select #select [items]="turno.fabrica.productos" bindLabel="descrip" placeholder="Producto" name="producto"
        [(ngModel)]="turnoproducto.producto">
      </ng-select>
    </div>
    <div class="input-field col s4 m4">
      <button class="waves-effect waves-light btn " type="submit" name="action"><i
          class="material-icons">add</i></button>
    </div>
  </div>
  <div class='row'>
    <div class="input-field col s12">
      <ng-select #select [items]="destinos" bindLabel="descrip" placeholder="Destino" name="destino"
        [(ngModel)]="turno.destino">
      </ng-select>
    </div>
  </div>
  <div class='row'>
    <div class="input-field col s12">
      <input type="text" name="descripadic" [(ngModel)]="turno.descripadic" placeholder="Descripcion adicional">
    </div>
  </div>
  <div class='row'>
    <div class="input-field col s4">
      <p>
        <label>
          <input type="checkbox" [(ngModel)]='turno.entregado' [ngModelOptions]="{standalone: true}" />
          <span>Entregado</span>
        </label>
      </p>
    </div>
    <div class="input-field col s4">
      <p>
        <label>
          <input type="checkbox" [(ngModel)]='turno.papelrecibido' [ngModelOptions]="{standalone: true}" />
          <span>Recibido</span>
        </label>
      </p>
    </div>
  </div>
</form>

<table class="centered highlight">
  <thead>
    <tr>
      <th class='col s2'>Cant.</th>
      <th class='col s4'>Producto</th>
      <th class='col s2'>Opc.</th>
    </tr>
  </thead>
  <tbody class="centered">
    <tr *ngFor='let l of turno.turnoproductos; index as i'>
      <td>{{l.cantidad}}</td>
      <td>{{l.producto?.descrip}}</td>
      <td><a [routerLink]="[]" (click)='eliminarFila(i)' class='black-text'><i class="material-icons">clear</i></a></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div>
    <p>{{turno.empresa?.razonsocial}}<br>
      {{turno.chofer?.nombreapellido}} <br>
      CUIL: {{turno.chofer?.cuil}}<br>
      DNI: {{turno.chofer?.dni}}</p><br>
      Pat. Chasis: {{turno.chofer?.camiones[0]?.patentechasis}} || Pat. Enganche: {{turno.chofer?.camiones[0]?.patenteenganche}}
  </div>
  <div>
    <div class="btncrear">
      <a class="waves-effect waves-light btn-large right" id="crear" (click)='guardar()'>Crear<i
          class="material-icons right">send</i></a>
      <a class="waves-effect waves-light btn-large right" id="modificar" (click)='updateBySucursal()'>Modificar<i
          class="material-icons right">edit</i></a>
    </div>
  </div>
</div>