<form>
  <div class='row'>
    <div class="input-field col s12 m3">
      <ng-select #select [items]="tipoproductos$" (change)="cambiarFabricas()"bindLabel="descrip" placeholder="Tipo producto" name="tipo"
        [(ngModel)]="turno.tipoproducto">
      </ng-select>
    </div>
  </div>
  <div class='row'>
    
    <div class="input-field col s12 m3"> 
        <ng-select
        #select
        [items]="fabricasfilter"
        bindLabel="descrip"
        placeholder="Fabrica"
        name="fabrica"
        [(ngModel)]="turno.fabrica">
      </ng-select>
    </div>
    <div class="input-field col s12 m3"> 
      <ng-select
      #select
      [items]="choferes$"
      placeholder="Chofer"
      bindLabel="nombreapellido"
      name="chofer"
      [(ngModel)]="turno.chofer">
    </ng-select>
    </div>
    <div class="input-field col s12 m3">
      <ng-select #select [items]="destinos" bindLabel="descrip" placeholder="Destino" name="destino"
        [(ngModel)]="turno.destino">
      </ng-select>
    </div>
    <div class="input-field col s6 l3 left">
      <input type="date" placeholder="Fecha" name="fecharetiro" [ngModel]="turno.fecharetiro | date:'yyyy-MM-dd'">
    </div>
    <div class="input-field col s6 m3">
      <input type='number' name='cant' [(ngModel)]='cant' placeholder='Cantidad de ordenes'/>    
    </div>
  </div>
  
  </form>

  <div class="row btncrear"><a class="waves-effect waves-light btn-large right" (click)='savePorLote()'>Crear<i class="material-icons right">send</i></a></div>  

  <div class="file-field input-field left">
    <div class="btn">
      <span>File</span>
      <input type="file" id="file" multiple="false" (change)='handleFileInput($event.target.files)'>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <div class="row"><a class="waves-effect waves-light btn-large right" (click)='uploadExcel()'>Subir<i class="material-icons right">file_upload</i></a></div>  
  </div>