
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Aplicar recibo</h4>
    <div class="row">
      <form class="col s12" (ngSubmit)="onSubmit()" #recform="ngForm">
        <div class="row">
          <br>
          <div class="row">
            <div class="col s2">
              <h5>Venta #{{ventaseleccionada?.id?.id}} (${{ventaseleccionada?.importerestante}})</h5>
            </div>
          </div>
          <div class="input-field col s5">
            <input id="importedesc" type="number" [(ngModel)]="reciboventa.importedesc" class="validate"
              name="importedesc" required #descrip="ngModel">
            <label class="active" for="importedesc">Importe</label>
          </div>
          <div class="input-field col s5">
            <select class="browser-default" [(ngModel)]="reciboventa.recibo" name="recibo" #recibo="ngModel" required>
              <option value="1" disabled selected>Recibo</option>
              <ng-container *ngFor="let rec of recibos">
              <option [ngValue]='rec' *ngIf="rec.active">{{rec.created_at | date:'dd/MM/yy'}}
                ${{rec.importeRestante | number : '1.2-2'}} - {{rec.descripadic}}</option>
              </ng-container>
            </select>
            <div [hidden]="recibo.valid" class="alert alert-danger">
              Recibo obligatorio
            </div>
          </div>
        </div>
        <button class="btn waves-effect waves-light right" type="submit" name="action">
          Aplicar <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>