<h1>Turnos</h1>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
    <div class="collapsible-body">
      <div class='row'>
          <div class="input-field col s12 l2">
            <ng-select #sucursales [items]="sucursales$" bindLabel="descrip" placeholder="Sucursal" name="sucursalselect"
            [(ngModel)]="sucursalselect">
          </ng-select>
            </div>
        <div class="input-field col s6 l2">
          <input placeholder="ID Turno" id="idturno" type="number" class="validate" [(ngModel)]="id">
        </div>
        <div class="input-field col s6 l2">
            <input placeholder="ID Turno Asignado"  type="number" class="validate" [(ngModel)]="idasignado">
          </div>
      </div>

      <div class="row">
        <div class="input-field col s12 l6">
          <ng-select [items]="choferes$" [multiple]="true" bindLabel="nombreapellido" [selectableGroup]="true"
            [closeOnSelect]="false" [(ngModel)]="choferselect" placeholder="Choferes">
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nombreapellido |
              uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nombreapellido}}
            </ng-template>
          </ng-select>
        </div>
      </div>
      
      <div class="row">
        
        <div class="input-field col s12 l3">
          <ng-select #tipoproductos [items]="tipoproductos$" bindLabel="descrip" placeholder="Tipo producto" name="tipoproductoselect"
            [(ngModel)]="tipoproductoselect">
          </ng-select>
        </div>
        <div class="input-field col s12 l3">
          <ng-select #fabricas [items]="fabricas$" bindLabel="descrip" placeholder="Fabrica" name="fabricaselect"
            [(ngModel)]="fabricaselect">
          </ng-select>
        </div>
        <div class="input-field col s12 l3">
            <ng-select #destino [items]="clientes" bindLabel="descrip" placeholder="Destino" name="clienteselect"
              [(ngModel)]="clienteselect">
            </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 l3">
          <input type="date" placeholder="Desde" name="fechadesde" [(ngModel)]="fechadesde">
        </div>
        <div class="input-field col s6 l3">
          <input type="date" placeholder="Hasta" name="fechahasta" [(ngModel)]="fechahasta">
        </div>
        <div class="input-field col s12 l3">
          <ng-select #ord [items]="ordenamiento" bindLabel='descrip' name="ordenam" [(ngModel)]="ordenam">
          </ng-select>
        </div>
        <div class="input-field col s2">
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='searchFn()'>Buscar 
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>


<div class="row">
  <p>
    <label>
      <input type="checkbox" (change)="compactarVista()" />
      <span>Vista compacta</span>
    </label>
  </p>
</div>

<app-paginador (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numItems">
</app-paginador>
<table class="responsive-table">
  <thead>
    <tr>
      <th class="col m1">Id</th>
      <th class="col m1">Id asignado</th>
      <!-- <th>Fecha Creada</th> -->
      <th class="col m1">Retiro</th>
      <th class="col m1">F&aacute;brica</th>
      <th class="col m1">Material</th>
      <th class="col m1">Chofer</th>
      <th class="col m2 truncate hide-on-med-and-down">Destino</th>
      <th class="col m1 hide-on-med-and-down">Entregado</th>
      <th class="col m1 hide-on-med-and-down ocultar">Rem. Recib.</th>
      <th class="col m1 ocultar hide-on-med-and-down">Remitido</th>
      <th class="col m1">Opciones</th>
    </tr>
</thead>
<tbody>
  <tr *ngFor='let t of turnos' [class.anulado]="t.active === false" [class.faltaentregar]="t.entregado === false && t.active === true && vistacompacta || t.entregado === null && vistacompacta && t.active === true ">
    <td>{{t.id.id}}</td>
    <td>{{t.idasignado}}</td>
    <!-- <td class="hide-on-med-and-down">{{t.id.sucursal.descrip}}</td> -->
    <!-- <td>{{t.created_at | date:'dd/MM/yy'}}</td> -->
    <td>{{t.fecharetiro | date:'dd/MM/yy'}}</td>
    <td>{{t.fabrica?.descrip}}</td>
    <td *ngIf="t.turnoproductos.length == 0"></td>
    <td *ngIf="t.turnoproductos?.length > 1 ">{{t.turnoproductos[0]?.cantidad}} {{t.turnoproductos[0]?.producto.abrev}} | {{t.turnoproductos[1]?.cantidad}} {{t.turnoproductos[1]?.producto.abrev}} </td>
    <td *ngIf="t.turnoproductos?.length == 1">{{t.turnoproductos[0]?.cantidad}} {{t.turnoproductos[0]?.producto.abrev}}</td>
    <td>
      <div *ngIf="t.chofer" else sinchofer>{{ t.chofer?.apellido}} {{t.chofer?.nombre}}</div>
      <ng-template #sinchofer>-</ng-template>
    </td>
    <td class="hide-on-med-and-down">{{t.destino?.descrip}}</td>
    <td class="hide-on-med-and-down"><i class='material-icons' *ngIf='t.entregado'>check</i></td>
    <td class="hide-on-med-and-down"><i class='material-icons' *ngIf='t.papelrecibido'>check</i></td>
    <td class="hide-on-med-and-down"><i class='material-icons' *ngIf='t.entrega'>check</i></td>
    <td>
      <a href='/gestion/turnos/{{t.id.id}}/{{t.id.sucursal.id}}'><i class="material-icons">zoom_in</i></a>
      <a href='/gestion/turnos/{{t.id.id}}/{{t.id.sucursal.id}}/editar' *ngIf="t.active !=false"><i class="material-icons" *ngIf="t.active !=false">edit</i></a>
      <i class="material-icons anular" (click)='anular(t.id.id, t.id.sucursal.id)' *ngIf="t.active !=false">delete</i>
    </td>
  </tr>
</tbody>
</table>