input{
  margin-top: 0.4em !important;
}

.dropdown-content{
width: max-content !important;
height:auto !important;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a{
  color: black;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.row, .input-field{

    margin-bottom: 0 !important;
  }

/* 
.btncrear{

  position: absolute;
  bottom: 2rem;
}
 */
#modificar{
  display: none;
}

table{
  margin-bottom: 25%;
}

.anular{
  cursor: pointer;
}

.anulado{
  background-color: #ee6e73;
}


td div {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;         
  text-overflow: ellipsis;
}

.compacto td{
border: 1px solid black;
}

.faltaentregar{
  background-color: #fff59d;
}