<div class="row">
  <div class="left">
    <h4>Recibo #{{recibo.id?.id}}</h4>
  </div>
  <div class='right'>
    <h4>Fecha: {{ recibo.created_at | date:'dd/MM/yy'}}</h4>
  </div>
</div>
<hr>
<div *ngIf="recibo.active; else anulado">
  <div class='row'>
    <div class='left'>
      <h5>Cliente: {{recibo.cliente?.descrip}}</h5>
    </div>  
  </div>
  <div class='row'>
    <p>Observaciones: {{recibo.descripadic}}</p>
  </div>
</div>

<ng-template #anulado>
  <div class='row anulado center'>
    <div>
      <h6 class="center">ANULADO</h6>
    </div>
  </div>
  <div class='row'>
    <h6>Cliente: {{recibo.cliente?.descrip}}</h6>
  </div>
  <div class='row'>
    <p>Observaciones: {{recibo.descripadic}}</p>
  </div>
</ng-template><div class='row abajo'>
  <div class='left'>
    <h6>{{recibo.id?.sucursal?.descrip}}</h6>
  </div>
  <div class='right'>
    <h5>Importe: ${{recibo.importe}}</h5>
  </div>
</div>
<app-print></app-print>