<div class="wrapper">
	<div class="container">
		
		<a href="#!" class="brand-logo center"><img class='logo responsive-img' src='assets/img/logo.svg'></a>
		
		<form class="form " autocomplete="off">
			<input type="text" placeholder="Username" [(ngModel)]='user.username' name='username' autocomplete="off">
			<input type="password" placeholder="Password" [(ngModel)]='user.password' name='password' autocomplete="off">
			<button type="submit" id="login-button" (click)='login(user)'>Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


<!-- <script>
	$('document').ready({

		$('#login-button').click(function(event){
			event.preventDefault();

		$('form').fadeOut(500);
		$('.wrapper').addClass('form-success');
		});

	});
</script> -->