 <h1>Productos</h1>
 
<!-- Modal Trigger -->

  <!-- Modal Trigger -->
  <div class="row">
      <div class="input-field col s8">
          <input id="searchText" type="text"  [(ngModel)]="searchText" class="validate" placeholder="Ingresar b&uacute;squeda"> 
      </div>
      
    <button data-target="modal1" class="btn modal-trigger right">Crear<i class="large material-icons">add</i></button>
  </div>
 <table>
     <thead>
         <th>ID</th>
         <th>Descrip.</th>
         <th>Precio</th>
         <th class="hide-on-med-and-down">Tipo</th>
         <th class="hide-on-med-and-down">Lista Pub.</th>
         <th class="hide-on-med-and-down">Activo</th>
         <th>Opciones</th>
     </thead>
     <tbody>
          <tr *ngFor="let producto of ( productos  | filtersearch: searchText)">
              <td>{{producto.id}}</td>
              <td>{{producto.descrip}}</td>
              <td>${{producto.precio || currency}}</td> 
              <td class="hide-on-med-and-down" *ngIf="producto.tipoproducto; else vacio">{{producto.tipoproducto.descrip}}</td>
              <td class="hide-on-med-and-down">
                  <div class="switch">
                      <label>
                        Off
                        <input type="checkbox" *ngIf="producto.listapub" checked (change)='update(producto)' [(ngModel)]='producto.listapub'>
                        <input type="checkbox" *ngIf="!producto.listapub" (change)='update(producto)'  [(ngModel)]='producto.listapub'>
                        <span class="lever"></span>
                        On
                      </label>
                    </div>
              </td>
              <td class="hide-on-med-and-down">
                  <div class="switch">
                      <label>
                        Off
                        <input type="checkbox" *ngIf="producto.active" checked (change)='update(producto)'  [(ngModel)]='producto.active'>
                        <input type="checkbox" *ngIf="!producto.active" (change)='update(producto)'  [(ngModel)]='producto.active'>
                        <span class="lever"></span>
                        On
                      </label>
                    </div>
              </td>
              <ng-template #vacio><td></td></ng-template>
              <td>
                  <a routerLink="{{producto.id}}" class="waves-effect waves-light btn-small #03a9f4 light-blue modal-trigger"><i class="large material-icons">edit</i></a>
                  
              </td>
         </tr>
     </tbody>
 </table>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Crear producto</h4>
      <div class="row">
          <form class="col s12" (ngSubmit)="onSubmit()" #prodform="ngForm">
            <div class="row">
              <br>
              <div class="input-field col s12">
                <input id="descrip" type="text" [(ngModel)]="prod.descrip" class="validate"  name="descrip" required #descrip="ngModel"> 
                <label class="active" for="descrip">Descripci&oacute;n</label>
                <div [hidden]="descrip.valid"
                  class="alert alert-danger">
                Descripci&oacute;n obligatoria
              </div>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input id="precio" type="text" class="validate"  [(ngModel)]="prod.precio" name="precio" #precio="ngModel" required>
                <label class="active" for="precio">Precio</label>
                <div [hidden]="precio.valid"
                  class="alert alert-danger">
                Precio obligatorio
              </div>
              
              </div>
              <div class="input-field col s12">
                  <select class="browser-default" [(ngModel)]="prod.tipoproducto.id" name="tipoproducto" #tipo="ngModel" required>
                      <option value="1" disabled selected>Categor&iacute;a</option>
                      <option *ngFor="let tipo of tipos" value='{{tipo.id}}'>{{tipo.descrip}}</option>
                    </select>
                    <div [hidden]="tipo.valid"
                      class="alert alert-danger">
                    Categor&iacute;a obligatoria
                  </div>
                </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="action" [disabled]="!prodform.form.valid">Crear
              <i class="material-icons right">send</i>
            </button>
          </form>
    </div>
    </div>
    
  </div>

  <app-loader *ngIf="loading"></app-loader>