<div class="row">
  <div class="left">
    <h4>Venta #{{venta.id?.id}}</h4>
  </div>
  <div class='right'>
    <h4>Fecha: {{ venta.created_at | date:'dd/MM/yy'}}</h4>
  </div>
</div>
<hr>
<div *ngIf="venta.active; else anulado">
  <div class='row'>
    <div class='left'>
      <h5>Cliente: {{venta.cliente?.descrip}}</h5>
    </div>
  </div>
  <div class='row'>
    <p>Direcci&oacute;n: {{venta.direccion}}</p>
  </div>
  <div class='row'>
    <p>Tel&eacute;fono: {{venta.telefono}}</p>
  </div>
  <div class='row'>
    <p>Observaciones: {{venta.descripadic}}</p>
  </div>
  <div class='row' *ngFor='let e of venta.entregas'> 
    <p>Entrega/s asociada/s: <span *ngFor='let e of venta.entregas'> <a href='/gestion/entregas/{{e.id.id}}/{{e.id.sucursal.id}}'>{{e.id.id}}</a> | </span></p>
    <div *ngIf="e.turno">
    <p>Turno fábrica: <a href="/gestion/turnos/{{e.turno?.id.id}}/{{e.turno?.id.sucursal.id}}">{{e.turno?.id.id}} <span  *ngIf="e.turno?.idasignado">/ ORDEN {{e.turno?.idasignado}}</span></a></p>
    <p *ngIf="e.turno.fecharetiro">  Fecha retiro: {{e.turno.fecharetiro  | date:'dd/MM/yy'}}</p>
  </div>
  </div>
</div>

<ng-template #anulado>
  <div class='row anulado'>
    <div>
      <h6>Nº Venta: {{venta.id?.id}}</h6>
    </div>
    <div>
      <h6>ANULADO</h6>
    </div>
    <div>
      <h6>Fecha: {{ venta.created_at | date:'dd/MM/yy'}}</h6>
    </div>
  </div>
  <div class='row'>
    <h6>Cliente: {{venta.cliente?.descrip}}</h6>
  </div>
  <div class='row'>
    <h6>Direcci&oacute;n: {{venta.direccion}}</h6>
  </div>
  <div class='row'>
    <h6>Tel&eacute;fono: {{venta.telefono}}</h6>
  </div>
  <div class='row'>
    <h6>Observaciones: {{venta.descripadic}}</h6>
  </div>
</ng-template>

<table class="centered highlight responsive-table">
  <thead>
    <tr>
      <th class='col s1'>Cant.</th>
      <th class='col s3'>Producto</th>
      <th class='col s3'>Descrip. Adic.</th>
      <th class='col s2'>Precio</th>
      <th class='col s3'>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
    <tr *ngFor='let l of venta.lineasventas; index as i'>
      <td>{{l.cantidad}}</td>
      <td>{{l.producto.descrip}}</td>
      <td>{{l.descripadic}}</td>
      <td>${{l.precio}}</td>
      <td>${{l.cantidad * l.precio | number : '1.2-2'}}</td>
    </tr>
  </tbody>
</table>
<div class='row abajo'>
  <div class='left'>
    <h6>{{venta?.id?.sucursal?.descrip}} - {{venta?.vendedor?.nombre}} <span class="apellido">{{venta?.vendedor?.apellido}}</span></h6>
  </div>
  <div class='right'>
    <h5>Total: ${{venta.total}}</h5>
  </div>
</div>
<app-print></app-print>