<div *ngIf="producto">

  <form class="col s12">
    <div class="row">
      <br>
      <div class="input-field col s5">
        <input id="descrip" type="text" value="{{producto.descrip}}" [(ngModel)]="producto.descrip" class="validate"
          name="descrip">
        <label class="active" for="descrip">Descripci&oacute;n</label>
      </div>
      <div class="input-field col s2">
        <i class="material-icons prefix">attach_money</i>
        <input id="precio" type="text" class="validate" value="{{producto.precio}}" [(ngModel)]="producto.precio"
          name="precio">
        <label class="active" for="precio">Precio</label>
      </div>
      <div class="input-field col s5">
        <select class="browser-default" [(ngModel)]="producto.tipoproducto.id" name="tipoproducto">
          <option value="" disabled selected>Categor&iacute;a</option>
          <option *ngFor="let tipo of tipos" value='{{tipo.id}}'>{{tipo.descrip}}</option>
        </select>
      </div>
    </div>
    <button class="btn waves-effect waves-light red" type="submit" name="action" (click)="anular(producto)">Deshabilitar
      <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light right" type="submit" name="action" (click)="update(producto)">Actualizar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>