<h1>Entregas</h1>

<div class='row'>
  <h5 class='right'>Fecha: {{ date | date:'dd-MM-yy'}}</h5>
</div>
<form (submit)='agregarLinea()'>
  <div class='row'>
    <div class="input-field col s12 m8">
      <ng-select #cliente [items]="clientes$" bindLabel="descrip" placeholder="Cliente" name="clienteselect"
        [(ngModel)]="entrega.cliente">
      </ng-select>
    </div>
    <div class="input-field col s12 m4">
      <ng-select #select [items]="vendedores$" bindLabel="nombreapellido" name="vendedor" [(ngModel)]="entrega.vendedor">
      </ng-select>
    </div>
  </div>
  <div class='row center-align'>
    <div class='input-field col s12 m8'>
      <input placeholder='Direccion' id="direccion" type="text" class="validate" [(ngModel)]='entrega.direccion'
        name='direccion'>
    </div>
    <div class='input-field col s12 m4'>
      <input placeholder='Tel&eacute;fono' id="telefono" type="text" class="validate" [(ngModel)]='entrega.telefono'
        name='telefono'>
    </div>
  </div>
  <hr>
<div class='row' *ngIf="turno.id">
  <p>Turno fábrica: <a href="/gestion/turnos/{{turno?.id.id}}/{{turno?.id.sucursal.id}}">{{turno?.id?.id}} <span  *ngIf="turno?.idasignado">/ ORDEN {{turno?.idasignado}}</span></a> || <span *ngIf="turno.fecharetiro">  Fecha retiro: {{turno?.fecharetiro  | date:'dd/MM/yy'}}</span></p>
</div>
  <div class='row center-align'>
    <div class='row center-align' id='cargaproducto'>
      <div class="input-field col s12 m3 ">
        <input type="number" id='cant' placeholder="Cantidad" [(ngModel)]='lineaentrega.cantidad' name='cantidad'>
      </div>
      <div class="input-field col s12 m4 ">
        <ng-select #select [items]="productos$" bindLabel="descrip" name="producto" placeholder="Producto" [(ngModel)]="lineaentrega.producto">
        </ng-select>
      </div>
      <div class='input-field col s12 m3'>
        <input placeholder='Descrip. Adic.' id="descripadic" type="text" class="validate"
          [(ngModel)]='lineaentrega.descripadic' name='descripadic'>
      </div>

      <div class="input-field col m2 s12 show-on-medium-and-down">
        <button class="waves-effect waves-light btn-large " type="submit" name="action"><i
            class="material-icons">add</i></button>
      </div>
    </div>
  </div>
</form>
<div>
  <table class="centered highlight">
    <thead>
      <tr>
        <th class='col s1'>Cant.</th>
        <th class='col s3'>Producto</th>
        <th class='col s3'>Descrip. Adic.</th>
        <th class='col s1'>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <tr *ngFor='let l of entrega.lineasentregas; index as i'>
        <td>{{l.cantidad}}</td>
        <td>{{l.producto?.descrip}}</td>
        <td>{{l.descripadic}}</td>
        <td><a [routerLink]="[]" (click)='eliminarFila(i)' class='black-text'><i
          class="material-icons">clear</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row btncrear right">
  <div><a class="waves-effect waves-light btn-large" (click)='calcularPallets()'>Generar<i
        class="material-icons right">send</i></a></div>
</div>


<app-loader *ngIf="loading"></app-loader>



 <!-- Modal Structure -->
 <div id="modalpallet" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Deuda de pallet</h4>
    <div class="row">
      <span>Se crear&aacute; la siguiente cantidad de pallets</span>
      <input type="number" [(ngModel)]="entrega.cantidadpallets">
     </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-large" (click)='guardarEntrega()'>Continuar</a>
  </div>
</div>